---
const builderAPIpublicKey = 'a5000b47bd764a09ba56040f8361184b';
const builderModel = 'blogpost';
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
console.log(builderAPIpublicKey);
console.log(builderModel);
---

<html lang="en">
  <head>  
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header>This is your header</Header>

    <builder-component model={builderModel} api-key={builderAPIpublicKey}
    ></builder-component>
    <script async src="https://cdn.builder.io/js/webcomponents"></script>

    <footer>This is your footer</footer>
  </body>
</html>